
* {
    margin: auto;
    padding: 0%;
    box-sizing: border-box;
}

.nav-bar {
    width: 100%;
}
.row {
    margin: 0%;
}

.brand-logo {
    width: 299px;
    height: 56px;
}

#nav-text {
    color: #17608B;
}

.nav-item {
    width: 110px;
    color: #17608B;
}

.nav-item1 {
    width: 140px;
    color: #17608B;
}

.nav-item2 {
    width: 120px;
    color: #17608B;
}

.img1 {
    width: 142px;
    height: 50.12px;
    position: absolute;
    left: 111px;
    top: 15px;

}

.d-flex {
    margin-left: 0px;
    gap: 47px;

}

#Contact-btn {
    width: 164px;
    border-radius: 0px;
    border: 0px;
    background-color: #F26530;
    color: white;

}

#login-btn {
    border-color: #F26530;
    color: #17608B;
}